// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "~@mdi/font/scss/materialdesignicons.scss";
@import "./variables";
@import "./table";
@import "./dropdown";
@import "./modal";
@import "./pagination";
@import "./sideBarNav";
@import "./auth";
@import "./buttons";
@import "./formInputs";
@import "./silckCustom.scss";

@font-face {
  font-family: 'icomoon';
  src:  url('../../public/assets/fonts/icomoon.eot?ne7dh7');
  src:  url('../../public/assets/fonts/icomoon.eot?ne7dh7#iefix') format('embedded-opentype'),
    url('../../public/assets/fonts/icomoon.ttf?ne7dh7') format('truetype'),
    url('../../public/assets/fonts/icomoon.woff?ne7dh7') format('woff'),
    url('../../public/assets/fonts/icomoon.svg?ne7dh7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-board:before {
  content: "\e900";
}
.icon-bell:before {
  content: "\e901";
}
.icon-calendar:before {
  content: "\e902";
}
.icon-car:before {
  content: "\e903";
}
.icon-email:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-google .path1:before {
  content: "\e906";
  color: rgb(255, 193, 7);
}
.icon-google .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 61, 0);
}
.icon-google .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(76, 175, 80);
}
.icon-google .path4:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-garage:before {
  content: "\e90a";
}
.icon-help:before {
  content: "\e90b";
}
.icon-instrument:before {
  content: "\e90c";
}
.icon-jobs:before {
  content: "\e90d";
}
.icon-layout:before {
  content: "\e90e";
}
.icon-list:before {
  content: "\e90f";
}
.icon-list-1:before {
  content: "\e910";
}
.icon-pin:before {
  content: "\e911";
}
.icon-pin-2:before {
  content: "\e912";
}
.icon-mechanic:before {
  content: "\e913";
}
.icon-chat:before {
  content: "\e914";
}
.icon-Phone:before {
  content: "\e915";
}
.icon-Report:before {
  content: "\e916";
}
.icon-users:before {
  content: "\e917";
}
.icon-plus:before {
  content: "\e918";
}
.icon-pencil:before {
  content: "\e919";
}
.icon-trash-2:before {
  content: "\e91a";
}

html,
body {
  height: 100%;
  min-height: 100%;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

/* Define the scrollbar track style */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Light grey */
}

/* Define the scrollbar thumb style */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Grey */
  border-radius: 5px; /* Rounded corners */
}

/* Define the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Dark grey */
}

.position-static {
  position: static !important;
  .dropdown-menu.show {
    top: unset !important;
    right: 50px !important;
  }
}

.layout-control {
  align-items: stretch;
  display: flex;
  width: 100%;
}

.main {
  margin-left: 300px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;

  display: flex;
  flex-direction: column;

  flex: 1;
  margin-bottom: 20px;
  overflow: auto;
  // transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out, margin-right 0.35s ease-in-out, right 0.35s ease-in-out;
}

/* navbar */

.avatar {
  img {
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
  }
}

.header-user-control {
  .nav {
    gap: 15px;
  }
}

.auto-ai-user-avatar-name {
  .pro-user-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #718096;
  }
}
.btn-avatar-dropdown {
  .avatar {
    img {
      height: 32px;
      width: 32px;
    }
  }
}

.btn-avatar-dropdown {
  &::after {
    display: none;
  }
}

.vr {
  background-color: var(--ai-gray-600);
}

.ai-box {
  background: #ffffff;
  border: 1px solid #e2e8f0;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.1),
    0px 30px 40px rgba(20, 37, 63, 0.08);
  border-radius: 16px;
}

.min-screen-layout {
  flex: 1;
  overflow: auto;
}

.divider-list {
  &-wrap {
    display: flex;
    align-items: center;
    padding: 15px 0;
    &:first-child{
      padding-top: 0;
    }
    border-bottom: 1px solid var(--ai-gray-300);
    &-flex {
      flex: 1;
    }
    &-auto {
      flex: 0 0 auto;
    }
  }

}
.divider-list-wrap-img{
    img{
      border-radius: 4px;
      width: 32px;
      height: 32px;
      display: block;
      object-fit: cover;
    }
}


@media (min-width: 1540px) {
  .w-xl-25 {
    width: 25%;
  }
}

.list-group-flush-wrap{
  border: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--ai-gray-300);
  .list-group-item{
    border: 0 !important;
  }
}