.btn,
button,
button:focus,
button:active .btn,
.btn:focus,
.btn:active {
    outline: unset !important;
    box-shadow: unset !important;
}

.btn {
    padding: 10px 18px;
    border-radius: 12px !important;
    font-weight: 600;
    &:hover,
    &:focus {
        box-shadow: unset;
        outline: 0;
    }

    @media (max-width: 767px) {
        font-size: 12px !important;
        padding: 8px 8px;
    }

    &.rounded-pill {
        border-radius: var(--bs-border-radius-pill) !important;
    }

    &.btn-primary{
        svg{
            path{
                fill: #fff;
            }
        }
    }
    &.btn-soft-primary {
        font-size: 12px;
        color: var(--theme-primary-100);
        background: var(--theme-primary-0);
        border: 1px solid var(--theme-primary-0);
        border-radius: 12px;
        &:hover,
        &:focus {
            color: #ffffff;
            background: var(--theme-primary-100);
        }
    }
    &.btn-soft-secondary {
        font-size: 12px;
        color: var(--gray-600);
        background: var(--gray-200);
        border: 1px solid var(--theme-primary-0);
        border-radius: 12px;
        i{
            color: var(--gray-700);
        }
        &:hover,
        &:focus {
            color: var(--gray-100);
            background: var(--gray-600);
            i{
                color: var(--gray-100);
            }
        }
    }
    

    &.btn-secondary {
        font-size: 12px;
        color: #1A202C;
        background: #F7FAFC;
        border: 1px solid #CBD5E0;
        border-radius: 12px;
        &:hover,
        &:focus {
            color: #1A202C;
            background: #e9ebed;
        }
    }
    &.btn-outline-secondary {
        color: #1A202C;
        border: 1px solid var(--ai-gray-400);
        &:hover,
        &:focus {
            color: #1A202C;
            background: #e9ebed;
            border-color: #1A202C;
        }
    }
    &.btn-outline-danger {
        background: var(--ai-gray-100);
        color: #F16063;
        border: 1px solid var(--ai-gray-400);
        &:hover,
        &:focus {
            border-color: #dc3545;
        }
    }
    &.btn-avatar-dropdown{
        padding: 0;
    }
    &.btn-blank-icon{
        padding: 0;
        border: 0;
        svg{
            fill: var(--ai-gray-500);
        }
    }
    &.btn-remove-arrow{
        &:after{
            display: none;
        }
    }
}

.bg-soft-primary {
    color: var(--theme-primary-100);
    background-color: var(--theme-primary-0);
    border-color: rgba(40, 146, 253, .12);
}

.bg-soft-danger {
    color: #f75964;
    background-color: rgba(247, 89, 100, .18);
    border-color: rgba(247, 89, 100, .12);
}

.manage-btn-drop{
    .btn{
        display: block;
        width: 100%;
        padding: 7px 20px;
        clear: both;
        font-weight: 400;
        color: var(--bs-dropdown-link-color);
        text-align: inherit;
        text-decoration: none;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        border-radius: 0 !important;
        &:focus, &:hover {
            color: var(--bs-dropdown-link-hover-color);
            background-color: var(--bs-dropdown-link-hover-bg);
        }
        &.active, &:active {
            color: var(--bs-dropdown-link-active-color);
            text-decoration: none;
            background-color: var(--bs-dropdown-link-active-bg);
        }
    }
}

.position-static {
    i{
        width: 20px;
    }
}

.btn-link{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

.edit-svg-btn{
    path{
        fill: var(--theme-primary-100);
    }
}
.del-svg-btn{
    path{
        fill: var(--theme-danger-dark);
    }
}