.bg-primary-light{
    background-color: #F6FAFF;
}
.bg-primary-light-sec{
    background-color: #EBF3FF;
}
.start-20{
    left: 20px !important;
}

.end-20{
    right: 20px !important;
}
.end-15{
    right: 15px !important;
}